h2 Edit Post
label(for='title') Title:
textarea(ng-model='post.title', name='title', class='span12 post-title-box')
p Body:
textarea(ng-model='post.text', class='span12 post-body-box')
p
  button(ng-click='editPost()') Edit Post