form.form-signin
  h2.form-signin-heading Sign In
  input.input-block-level(type='text', ng-model='user.username', placeholder='Username or Email address')
    br
  input.input-block-level(type='password', ng-model='user.userpassword', placeholder='Password')
  label.checkbox Remember me
    input(type='checkbox', value='remember-me')
  button.btn.btn-large.btn-primary(type='submit', ng-click='loginUser(user)') Sign in
  button.btn.btn-large.btn-primary(type='button', ng-click='go("/signup")') Sign Up
  button.btn.btn-large.btn-primary(type='button', ng-click='go("/forgotPassword")') Forgot Password