
h2 Create New Post
label(for='title') Title:
textarea(ng-model='form.title', name='title', class='span12 post-title-box')
p Body:
textarea(ng-model='form.text', class='span12 post-body-box')
p
  button(ng-click='submitPost()') Submit Post
