form.form-signin
  h2.form-signin-heading Sign In
  input.input-block-level(type='text', placeholder='Email address')
  input.input-block-level(type='password', placeholder='Password')
  label.checkbox Remember me
    input(type='checkbox', value='remember-me')
  button.btn.btn-large.btn-primary(type='submit') Sign in
  br
  br
  p
    a(href='/signup') Sign Up
    span    |    
    a(href='/forgotPassword') Forgot Password
