#footer
  div.container
    div.page-header
      a(href='/about') About
      |  |  
      a(href='/contact') Contact
      |  |  
      a(href='http://github.com/prekolna/japb') View Source
      h5 Copyright &#169;#{+new Date().getFullYear()} Doug Wade
