extends layout

block content
  form.form-signin
    h2.form-signin-heading Please sign in
    input.input-block-level(type='text', placeholder='Email address')
    input.input-block-level(type='password', placeholder='Password')
    label.checkbox Remember me
      input(type='checkbox', value='remember-me')
    button.btn.btn-large.btn-primary(type='submit') Sign in
